@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<form method="post" class="form">
    <div class="login-bg">
        <h1>SPT</h1>
        <h2>Login</h2>
        <div class="login-inputs">
            <input placeholder="email" />
            <input placeholder="password" />
            <button type="submit">Logingchghgvhgvhgvjhvjvh</button>

        </div>
    </div>
</form>

