.button{
    border: none;
}

.section1 {
    background-color: #D9D9D9;
}

.description-container{
    width: 50%;
    padding: 10%;
    box-sizing: border-box;
}

.description-container h1{
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 3vw;
}

.description-container p{
    width: 90%;
    font-size: 1.3vw;
}

.description-container button{
    margin-top: 2vw;
    padding: 1vw 3vw;
}

.description-container .now{
    background: none;
    color: black;
    border: 1px solid black;
}

.section1 .visual-container{
    width: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 .image-container{
    background-color: white;
    width: 60%;
    height: 60%;
    border-radius: 1vw;
}

.section2 {
    background-color: #F2F2F2;
    height: 65vh;
}

.section2 .visual-container {
    width: 50%;
    padding: 10%;
    box-sizing: border-box;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr)
}

.section2 .visual-container .card-front {
    background-color: black;
    grid-area: 2 / 1 / 6 / 5;
}

.section2 .visual-container .card-bg{
    background-color: white;
    grid-area: 1 / 2 / 5 / 6;
}

.section3{
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.logos-container {
    display: flex;
    gap: 2vw;
}

.logos-container .comp-logo{
    background-color: black;
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
}
