@page
@model SPT.Pages.Equipment.IndexModel
@{
}

<form method="post" asp-page-handler="Navigate">
    <nav>
        <div class="nav-bar">
            <a asp-page="/Home/Index"><h1 class="logo">SPT</h1></a>
            <ul>
                <li><a asp-page="/Equipment/Index">Equpment </a></li>
                <li><a asp-page="/Bookings/Index">Bookings</a></li>
                <li>Contact Us</li>
                <li>About Us</li>
            </ul>
        </div>
        <div class="nav-bar">
            <ul>
                <li>Help</li>
                <li><a asp-page="/Home/Index">Home</a></li>
            </ul>

            <button type="submit" name="redirect" value="/Index" class="button">Login</button>
        </div>
    </nav>
    <section class="section1">
        <h1>Equipment</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
        <div class="options-container">
            <div class="option">
                <div class="option-details">
                    <div class="product-img"></div>
                    <h1>Saw</h1>
                    <p>$5000/day</p>
                    <div class="inputs">
                        <input placeholder="Name" />
                        <input placeholder="Date" />
                        <input placeholder="Duration (Days)" />
                    </div>
                </div>

                <button class="button book">Book Now</button>
            </div>
        </div>
    </section>
    <footer>
        <div class="foot-container">
            <h1 class="logo">SPT</h1>
            <p>© 2010 — 2020</p>
            <p>Privacy — Terms</p>
        </div>
        <div class="footer-nav-container">
            <div class="foot-container">
                <p>Product</p>
                <ul>
                    <li>Power Drill</li>
                    <li>Grinder</li>
                    <li>Saw</li>
                </ul>
            </div>
            <div class="foot-container">
                <p>Features</p>
                <ul>
                    <li>Feature</li>
                    <li>Feature</li>
                    <li>Feature</li>
                </ul>
            </div>
            <div class="foot-container">
                <p>Resources</p>
                <ul>
                    <li>Resource</li>
                    <li>Resource</li>
                    <li>Resource</li>
                </ul>
            </div>
            <div class="foot-container">
                <p>Company</p>
                <ul>
                    <li>Company</li>
                    <li>Company</li>
                    <li>Company</li>
                </ul>
            </div>
        </div>
    </footer>
</form>